{% extends "test_judge/base.html" %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-mini layout-fixed sidebar-collapse {% endblock body_class %}

{% block navbar %}
  <ul class="navbar-nav">
    <li class="navbar-item d-none d-sm-inline-block">
      <a href="{% url 'contest' contest.id %}" class="nav-line">{{ contest.name }}</a>
    </li>
  </ul>
{% endblock %}

{% block sidebar %}
  <li class="nav-header">CONTEST</li>
  <li class="nav-item">
    <a href="{% url 'contest' contest.id %}" class="nav-link {% block nav_overview_class %}{% endblock %}">
      <i class="nav-icon fa-solid fa-circle-info"></i>
      <p>Overview</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="{% url 'submit' contest.id %}" class="nav-link {% block nav_submit_class %}{% endblock %}">
      <i class="nav-icon fa-solid fa-code"></i>
      <p>Submit</p>
    </a>
  </li>
  <li class="nav-item">
    <a href="" class="nav-link {% block nav_ranking_class %}{% endblock %}">
      <i class="nav-icon fa-solid fa-ranking-star"></i>
      <p>Ranking</p>
    </a>
  </li>
{% endblock %}