{% extends 'test_judge/contest_base.html' %}

{% block content %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <h1 class="text-dark">Contest: {{ contest.name }}</h1>
  </div>
  <div class="content">
    <ul>
      <li>Start time: {{ contest.start_time }}</li>
      <li>End time: {{ contest.end_time }}</li>
    </ul>
    <hr>
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Tasks</h2>
      </div>
      <div class="card-body">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th style="width: 5%">#</th>
              <th style="width: 70%">Task</th>
              <th style="width: 10%">Your point</th>
              <th style="width: 15%">Solved rate</th>
            </tr>
          </thead>
          <tbody>
            {% for task in tasks %}
              <tr style="cursor: pointer" onclick="location.href='{% url 'task' task.id %}'">
                <td>{{ task.index }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.my_points }}</td>
                <td>N/A</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- /.content-header -->
{% endblock %}