{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "judge/contest.css" %}">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block nav-breadcrumbs %}{% endblock %}

{% block nav-sidebar %}{% endblock %}

{% block content %}
    <div class="module">
        <table>
        <caption>
            <a class="section">Tasks</a>
        </caption>
        <tr>
            <th>#</th>
            <th>Task</th>
            <th>Time limit (s)</th>
            <th>Memory limit (KiB)</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.index }}</td>
                <td><a href="{% url 'task' task.id %}">{{ task.name }}</a></td>
                <td>{{ task.time_limit }}</td>
                <td>{{ task.memory_limit }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}