{% extends 'judge/auth_base.html' %}

{% block body_class %}login-page{% endblock %}

{% block content %}
  <div class="login-box">
    <div class="login-logo">
      <b>Login</b>
    </div>
    <div class="card">
      <div class="card-body login-card-body">
        {% if form.non_field_errors %}
          <div class="alert alert-warning alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h5><i class="icon fa-solid fa-exclamation-triangle"></i></h5>
              {% for error in form.non_field_errors %}
                {{ error }}
              {% endfor %}
          </div>
        {% endif %}

        <form action="" method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <label for="id_username" hidden>Username</label>
            <input type="text" name="username" id="id_username" class="form-control {% if form.username.errors %} is-invalid {% endif %}" placeholder="Username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa-solid fa-user"></span>
              </div>
            </div>
            {% if form.username.errors %}
              <div class="error invalid-feedback">
                <ul class="mb-0">
                  {% for error in form.username.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
{#                {{ form.username.errors }}#}
              </div>
            {% endif %}
          </div>
          <div class="input-group mb-3">
            <label for="id_password" hidden>Password</label>
            <input type="password" name="password" id="id_password" class="form-control {% if form.password.errors %} is-invalid {% endif %}" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa-solid fa-key"></span>
              </div>
            </div>
            {% if form.password.errors %}
              <div class="error invalid-feedback">
                <ul class="mb-0">
                  {% for error in form.password.errors %}
                    <li>{{ error }}</li>
                  {% endfor %}
                </ul>
{#                {{ form.password.errors }}#}
              </div>
            {% endif %}
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Sign In</button>
            </div>
            <!-- /.col -->
          </div>
        </form>
{#        <p class="mb-1">#}
{#          <a href="/examples-recover-password.html">I forgot my password</a>#}
{#        </p>#}
        <p class="mb-0 mt-2">
          Not registered? <a href="{% url 'register' %}" class="text-center">Create an account</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>

  </div>
{% endblock %}